<h2>Create a new movie in the DB</h2>

<form method="POST" action="/movies/create">
    <label>Title: <input name="title"> </label>
    <label>Genre: <input name="genre"> </label>
    <label>Plot: <input name="plot"> </label>
    <label>Cast: 
        <select name="cast"> 
<% data.forEach(eachCeleb => { %>
 <option value="<%= eachCeleb._id %>"><%= eachCeleb.name %></option>
<% }) %>
        </select> 
    </label>
    <button type="submit">CREATE MOVIE</button>
</form>